:root {
    --very-light-blue-two: #deebff;
    --powder-blue: #b3d4ff;
    --soft-blue: #4c9aff;
    --bright-blue: #266AD2;
    --clear-blue: #2684ff;
    --blue: #0052cc;
    --peacock-blue: #0747a6;
    --ice: #e2ffee;
    --pale-turquoise: #abf5d1;
    --light-turquoise: #79f2c0;
    --seafoam-blue: #57d9a3;
    --seaweed-green: #36b37e;
    --jungle-green: #00875a;
    --dark-blue-green: #006644;
    --pale-grey: #fafbfc;
    --pale-grey-two: #f4f5f7;
    --very-light-blue: #ebecf0;
    --light-periwinkle: #dfe1e6;
    --light-blue-grey: #c1c7d0;
    --light-grey-blue: #b3bac5;
    --light-grey-blue-two: #a5adba;
    --bluey-grey: #97a0af;
    --bluey-grey-two: #8993a4;
    --blue-grey: #7b8093;
    --grey-blue: #6b778c;
    --blue-grey-two: #5e6c84;
    --slate: #505f79;
    --dusk: #42526e;
    --dark-grey-blue: #344563;
    --dark-grey-blue-two: #253858;
    --dark-indigo: #282c47;
    --pale-grey-three: #eae6ff;
    --pale-violet: #c0b6f2;
    --perrywinkle: #998dd9;
    --soft-blue-two: #8777d9;
    --iris: #6554c0;
    --blueberry: #5243aa;
    --blueberry-two: #403294;
    --very-light-pink: #ffebe5;
    --light-peach: #ffbdad;
    --salmon: #ff8f73;
    --orange-pink: #ff7452;
    --orangey-red: #ff5630;
    --orangish-red: #de350b;
    --rust-red: #bf2600;
    --ice-blue: #e6fcff;
    --robin-s-egg: #79e2f2;
    --pale-cyan: #b3f5ff;
    --aqua-blue: #00c7e6;
    --turquoise-blue: #00b8d9;
    --turquoise-blue-two: #00a3bf;
    --teal-blue: #008da6;
    --off-white: #fffae6;
    --pale-peach: #fff0b3;
    --wheat: #ffe380;
    --marigold: #ffc400;
    --orange-yellow: #ffab00;
    --pumpkin-orange: #ff8b00;
    --mango: #ff991f;
  }